# Análisis de Precios de Gasolineras en México.

In [1]:
import pandas_read_xml as pdx
import pandas as pd

In [2]:
df_places_cre = pdx.read_xml('places.xml')

# We 'flatten' the xml because is nested.
df_places_cre = pdx.fully_flatten(df_places_cre)
df_places_cre.columns = ['place_id','name','cre_id', 'x','y']
df_places_cre

,place_id,name,cre_id,x,y
0,2039,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.9214,32.47641
1,2040,"LAS MEJORES ESTACIONES, S.A DE C.V",PL/902/EXP/ES/2015,-99.74484,20.3037
2,2041,"DIAZ GAS, S.A. DE C.V.",PL/760/EXP/ES/2015,-106.4514,31.71947
3,2042,"COMBU-EXPRESS, S.A. DE C.V.",PL/825/EXP/ES/2015,-103.3042,20.71413
4,2043,"PETROMAX, S.A. DE C.V.",PL/585/EXP/ES/2015,-98.29977,26.03787
...,...,...,...,...,...
12957,27765,"AEROPUERTO INTERNACIONAL FELIPE ANGELES, SOCIE...",PL/23975/EXP/ES/2022,-98.98862,19.76109
12958,27766,"AEROPUERTO INTERNACIONAL FELIPE ANGELES, SOCIE...",PL/23976/EXP/ES/2022,-99.00842,19.74581
12959,27798,"PITS ABASTECIMIENTOS, SA DE CV",PL/24004/EXP/ES/2022,-100.3234,22.43042
12960,27799,"PITS ABASTECIMIENTOS, SA DE CV",PL/24005/EXP/ES/2022,-100.3237,22.43186
12961,27800,"SERVICIO EL NUEVO PEDREGAL, S.A. DE C.V.",PL/24006/EXP/ES/2022,-99.17608,19.30285

In [3]:
df_prices_cre = pdx.read_xml('prices.xml')

# We 'flatten' the xml because is nested.
df_prices_cre = pdx.fully_flatten(df_prices_cre)
df_prices_cre.columns = ['place_id','type','price']
df_prices_cre

      place_id     type  price
0        11703  regular  21.89
1        11703  premium  23.89
2        11702  regular  21.85
3        11702  premium  23.89
4        11702   diesel  23.99
...        ...      ...    ...
33984    11708  premium  23.89
33985    11704   diesel  22.89
33986     2807  regular  22.49
33987     2807  premium  24.79
33988     2807   diesel  23.99

[33989 rows x 3 columns]

In [4]:
df_gas_stations = pd.merge(df_places_cre, df_prices_cre, how = 'inner', on = 'place_id')
df_gas_stations

,place_id,name,cre_id,x,y,type,price
0,2039,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.9214,32.47641,regular,21.29
1,2039,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.9214,32.47641,diesel,22.49
2,2039,"ESTACION DE SERVICIO CALAFIA, S.A. DE C.V.",PL/658/EXP/ES/2015,-116.9214,32.47641,premium,24.99
3,2040,"LAS MEJORES ESTACIONES, S.A DE C.V",PL/902/EXP/ES/2015,-99.74484,20.3037,regular,21.85
4,2040,"LAS MEJORES ESTACIONES, S.A DE C.V",PL/902/EXP/ES/2015,-99.74484,20.3037,premium,23.49
...,...,...,...,...,...,...,...
33984,27799,"PITS ABASTECIMIENTOS, SA DE CV",PL/24005/EXP/ES/2022,-100.3237,22.43186,regular,22.04
33985,27799,"PITS ABASTECIMIENTOS, SA DE CV",PL/24005/EXP/ES/2022,-100.3237,22.43186,premium,24.1
33986,27799,"PITS ABASTECIMIENTOS, SA DE CV",PL/24005/EXP/ES/2022,-100.3237,22.43186,diesel,23.6
33987,27800,"SERVICIO EL NUEVO PEDREGAL, S.A. DE C.V.",PL/24006/EXP/ES/2022,-99.17608,19.30285,regular,21.99
33988,27800,"SERVICIO EL NUEVO PEDREGAL, S.A. DE C.V.",PL/24006/EXP/ES/2022,-99.17608,19.30285,premium,24.39